# Deepgram API Configuration
# Dapatkan API key gratis di: https://console.deepgram.com/
DEEPGRAM_API_KEY=98e854f4bf1c2469478a079cce879d97b4979c84

# Server Port
PORT=3001

# Google Account Kredensial untuk Bot Meeting
GOOGLE_BOT_EMAIL=botnotulenlui@gmail.com
GOOGLE_BOT_PASSWORD=botnotulen123

# Nama Tampilan Bot di dalam Meeting
BOT_DISPLAY_NAME=Bot AI

# Corporate VPN / Proxy Settings (Opsional)
VPN_INTERFACE=wg0
VPN_GATEWAY=10.24.0.1
