# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables & Credentials
.env
.env.local
.env.production
google_auth.json

# Production Build
dist/
build/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug_meet_lobby.png

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
